[catapult:{{ service }}:{{ program }}]
process_name={{ process_name }}
command={{ command }}
autostart=true
autorestart=true
user={{ user }}
numprocs={{ numprocs }}
redirect_stderr=true
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=10
stdout_logfile=/var/log/supervisor/{{ service }}/{{ program }}.log

